/* 滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgba(73, 177, 245, .2);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  /* 明亮主题样式 */
  #aside_content .card-widget,
  #recent-posts > .recent-post-item,
  .layout_page > div:first-child:not(.recent-posts),
  .layout_post > #page,
  .layout_post > #post,
  .read-mode .layout_post > #post,
  .layout_post > #archive,
  #aside-content > .card-widget,
  #aside-content > .sticky_layout > .card-widget,
  .layout > #post,
  .layout > #page,
  .layout > #archive,
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    background: rgba(255, 255, 255, 0.6);
  }
  
  /* 暗色模式样式 */
  [data-theme='dark'] ::-webkit-scrollbar-thumb {
    background-color: #888;
    background-image: none;
  }
  
  [data-theme='dark'] #aside_content .card-widget,
  [data-theme='dark'] #recent-posts > .recent-post-item,
  [data-theme='dark'] .layout_page > div:first-child:not(.recent-posts),
  [data-theme='dark'] .layout_post > #page,
  [data-theme='dark'] .layout_post > #post,
  [data-theme='dark'] .read-mode .layout_post > #post,
  [data-theme='dark'] .layout_post > #archive,
  [data-theme='dark'] #aside-content > .card-widget,
  [data-theme='dark'] #aside-content > .sticky_layout > .card-widget,
  [data-theme='dark'] .layout > #post,
  [data-theme='dark'] .layout > #page,
  [data-theme='dark'] .layout > #archive,
  [data-theme='dark'] .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    background: rgba(0, 0, 0, 0.6);
  }
  
  /* 窄屏 aplayer 样式 */
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px;
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0;
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
    left: -66px !important;
    /* 默认情况下缩进左侧66px，只留一点箭头部分 */
  }
  
  .aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
    left: 0 !important;
    /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
  }